
{% extends 'Template.html' %}
{% load static %}
{% block title %}Cambiar contraseña  {% endblock %}



{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/loginStyle.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="shadow-wrap">
            <div class="form-wrap">
                  <h3>Cambiar contraseña</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit">Guardar</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}